

body {
    margin: 0px;
    padding: 0px;
    font-size: 25px;
}

.dashboard-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

.dashboard-container > div {
    flex-grow: 1;
    border: 1px solid black;
}

.player-container {
    height: 200px;
    width: 100%;
}

.player-pos {
    display: flex;   
    justify-content: center;
    align-content: center;

}

.player-name {

}

